// FONTS
$base-font-family: 'Montserrat', 'Arial', sans-serif;

//FONT COLORS
$base-font-color: #d6d6d6;


//  COLORS
$base-page-color: #282c34;


//media
$mobile-bp-max: 767px;
$mobile-w: 310px;

$tablet-bp-min: 768px;
$tablet-w: 740px;
$tablet-bp-max: 1279px;

$desktop-bp-min: 1280px;
$desktop-w: 1210px;