// FONTS
$base-font-family: 'Nunito', sans-serif;

//FONT COLORS
$base-font-color: #222222;


//  COLORS
$base-page-color: #FFFFFF;


//media
$mobile-bp-max: 767px;
$mobile-w: 310px;

$tablet-bp-min: 768px;
$tablet-w: 740px;
$tablet-bp-max: 1279px;

$desktop-bp-min: 1280px;
$desktop-w: 1200px;