.header{
    &__subtitle{
        display: block;
        padding-left: 41px;
        color: #000000;
        margin-bottom: 33px;
        background-image: url(../images/subtitle-icon.svg);
        background-repeat: no-repeat;
        line-height: 29px;
    }
    &__content{
        padding-bottom: 20px;
    }
    &__title{
        font-size: 29px;
        margin-bottom: 23px;
    }
    &__description{
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 12.5px;
    }
}
.shopping{
    padding-top: 34px;
    padding-bottom: 48.5px;
}
@media (min-width: 1200px){
    .header{
        &__title{
            font-size: 42px;
            line-height: 50px;
            width: 369px;
        }
        &__description{
            width: 400px;
        }
    }
}