html {
    box-sizing: border-box;
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  body {
    background-color: $base-page-color;
    font-family: $base-font-family;
    font-size: 1.6rem;
    color: $base-font-color;
    scroll-behavior: smooth;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  
  .container {
    margin: 0 auto;
    @media screen and (max-width: $mobile-bp-max) {
      width: $mobile-w;
    }
    @media screen and (min-width: $tablet-bp-min) {
      width: $tablet-w;
    }
    @media screen and (min-width: $desktop-bp-min) {
      width: $desktop-w;
    }
  }
  
  .visually-hidden:not(:focus):not(:active),
  input[type='checkbox'].visually-hidden,
  input[type='radio'].visually-hiden {
    position: absolute;
    bottom: 0px;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0px;
    clip: rect(0 0 0 0);
    word-spacing: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
  }
  /* nunito-regular - latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../fonts/nunito-v25-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/nunito-v25-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
.section{

  &__container{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
  }
  &__title{
      font-size: 36px;
      line-height: 43px;
      width: 374px;
      margin-bottom: 23px;
      font-weight: normal;
  }
  &__description{
      font-size: 18px;
      line-height: 26px;
      width: 475px;
      margin-bottom: 12.5px;
  }

}